:root {
    /* Primary Colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral Colors */
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* for paragraphs */
    --very-light-gray: hsl(0, 0%, 95%); /* for headings, background, buttons */

    /* font families */
    --font-lexend-deca: 'Lexend Deca', sans-serif;
    --font-big-shoulders-display: 'Big Shoulders Display', cursive;
}

.cards_container {
    display: flex;
    color: var(--very-light-gray);
    max-width: 60rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card {
    flex: 0 1 100%;
    padding: 3rem;
    font-family: var(--font-lexend-deca);
}

.card > p {
    color: var(--transparent-white);
    line-height: 1.7;
}

.card > h1 {
    font-family: var(--font-big-shoulders-display);
    text-transform: uppercase;
    font-size: 2rem;
}

.card > button {
    margin-top: 5rem;
    font:inherit;
    background-color: var(--very-light-gray);
    border: solid var(--very-light-gray);
    border-radius: 2rem;
    padding: 0.8rem 2rem;
}

.card > button:hover {
    background-color: transparent;
    color: var(--very-light-gray);
}

.sedan-card > button {
    color: var(--bright-orange);
}

.suv-card > button {
    color: var(--dark-cyan);
}

.luxury-card > button {
    color: var(--very-dark-cyan);
}

.sedan-card {
    background-color: var(--bright-orange);
}

.suv-card {
    background-color: var(--dark-cyan);
}

.luxury-card {
    background-color: var(--very-dark-cyan);
}


